  <div class="cover">
    <div class="cover-picture">
      <%= image_tag('https://unsplash.it/1280/305', style: "height: 20px; width: 100%") %>
    </div>

    <div class="photo-profile">
      <%= image_tag current_user.picture %>
    </div>
  </div>



  <%= current_user.first_name %>

  <h4>description :</h4>

  <%= current_user.description %>

  <h4>skillz :</h4>

  <%= current_user.skillz %>

  <h4>Réseaux sociaux :</h4>

  <ul>
    <li>
      <% if current_user.sociallink1.blank? %>
      <strong>Twitter</strong> : non renseigné
      <% else %>
      <%= link_to current_user.sociallink1, target: "_blank" do %>
      <i class="fa fa-twitter"></i>
      <% end %>
      <% end %>
    </li>
    <li>
      <% if current_usersociallink2.blank? %>
      <strong>Facebook</strong> : non renseigné
      <% else %>
      <%= link_to current_user.sociallink2, target: "_blank" do %>
      <i class="fa fa-facebook"></i>
      <% end %>
      <% end %>
    </li>
    <li>
      <% if current_user.sociallink3.blank? %>
      <strong>Linkedin</strong> : non renseigné
      <% else %>
      <%= link_to current_user.sociallink3, target: "_blank" do %>
      <i class="fa fa-linkedin"></i>
      <% end %>
      <% end %>
    </li>
  </ul>



