<div class="profile-user">
  <div class="container">
    <div class="photo-profile">
      <div class="col-md-12">
        <%= image_tag @user.picture, class:"img-circle-profile" %>
      </div>
    </div>
    <div class="infos">
      <% if @user.first_name.blank? %>
        <strong>Name</strong> : non renseigné
      <% else %>
        <h3>
          <%= @user.first_name %>
          <%= @user.last_name[0].capitalize %>.
        </h3>
      <% end %>

      <% if @user.description.blank? %>
        <strong>Description</strong> : non renseigné
      <% else %>
        <%= @user.description %>
      <% end %>

      <% if @user.skillz.blank? %>
        <strong>Skillz</strong> : non renseigné
      <% else %>
        <%= @user.skillz %>
      <% end %>
    </div>
    <div class="socials">
      <ul class='list-inline'>
        <li>
          <% if !@user.sociallink1.blank? %>
            <%= link_to @user.sociallink1, target: "_blank" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if !@user.sociallink2.blank? %>
            <%= link_to @user.sociallink2, target: "_blank" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if !@user.sociallink3.blank? %>
            <%= link_to @user.sociallink3, target: "_blank" do %>
              <i class="fa fa-linkedin"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="edit-infos">
    <% if current_user == @user %>
      <%= link_to edit_user_registration_path do %>
        <%= t ".profile", default: "Modifier mon profil" %>
      <% end %>
    <% end %>
  </div>
  <div class="jobs">
    <% if current_user == @user %>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="pending">
            <p>Mes candidatures en cours</p>
            <ul>
              <% current_user.pending_jobs.each do |job| %>
                <li>
                  <%= job.project_job.job.name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="accepted">
            <p>Mes candidatures acceptées</p>
            <ul>
              <% current_user.accepted_jobs.each do |job| %>
                <li>
                  <%= job.project_job.job.name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="refused">
            <p>Mes candidatures refusées</p>
            <ul>
              <% current_user.refused_jobs.each do |job| %>
                <li>
                  <%= job.project_job.job.name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
