<div id='cssmenu'>
<ul>
   <li class='active'><a href='/'>Home</a></li>
   <li><a href='/projects'>Projects</a></li>

    <% if user_signed_in? %>

      <li class="pull-right">
        <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.picture, class:"photo-fb avatar dropdown-toggle"  %>
        <% end %>
      </li>

      <li class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <li class="pull-right">

      <a href='/projects/new'>Create a project</a></li>
    <% else %>
      <li class="pull-right"><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
    <% end %>

   <li>
     <!-- <a href='#'>Contact</a> -->
     <%= link_to contact_path do %>
       contact
     <% end %>
   </li>
   <li>
     <!-- <a href='#'>About</a> -->
     <%= link_to about_path do %>
       about
     <% end %>
   </li>

</ul>
</div>
