<nav class="menu">

  <div class="logo-jobsearch">
    <%= link_to root_path do %>
    <%= image_tag "logo2.png", width: 50%>
    <% end %>
  </div>

  <ul id="menu">

      <li>
        <div class="button-holder">
          <p><%= link_to "New project", new_project_path(), class: "btn btn-info" %></p>
        </div>
      </li>`

      <% if user_signed_in? %>

      <li>
        <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link hidden-xs" do %>
        <div class="icon-badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="icon-badge icon-badge-blue">3</div>
        </div>
        <% end %>
      </li>

      <li>
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <%= cl_image_tag current_user.picture, width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <% else %>

    <li>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>

    <% end %>

  </ul>
</nav>

