<div class="background" id="search-home">
  <div class="filter-background">
    <div class="title-logo">
      <div class="form-home">
        <div class="searchbar">
          <div class="searchbar-content">
            <div class="title-form">Let's find some work !</div>
            <%= simple_form_for :search, :html => { :class => 'form-inline' }, url:projects_path, method: :get do |f| %>
              <%= f.input :address, placeholder: 'Wich city ?', label: false %>
              <%= f.input :domain_id, collection: Domain.all, label_method: :label, value_method: :id, label: false, prompt: "Choose your Domain " %>
              <%= f.input :job_id, label: false do %>
                <%= f.select :job_id, Job.all.map { |job| [job.name, job.id, { :'data-domain-id' => job.domain.id }] }, class: "form-control", prompt: "Choose a job", html: { class: "form-control" } %>
              <% end %>
              <%= f.submit "Search", class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $("#search_domain_id").on('change', function(){
      var domain_id = $(this).find('option:selected').val();
      $("#search_job_id option").show();
      $("#search_job_id option:not([data-domain-id='"+domain_id+"'])").hide();
      $("#search_job_id option").first().attr("selected", "selected");
    });
    $("#search_job_id").addClass("form-control")
  </script>
<% end %>
