

<div class="container">
  <div class="row">
  <% @projects.each do |project|%>
    <div class="col-md-4">
      <div class="card-project" style="background-image: url('<%= image_path(project.media) %>');">
        <div class="card-project-filter">
          <div class="card-project-title">
            <%= project.title %>
          </div>
          <div class="card-project-address">
            <%= project.address %>
          </div>
          <div class="card-project-startdate">
            <%= project.start_date %>
          </div>
          <div class="card-project-description">
            <%= project.description %>
          </div>

          <div class="card-project-bottom">
            <div class="card-project-jobs">
              <% project.jobs.first(6).each do |job| %>
                <%= image_tag(job.picture, class: "rounded-job") %>
              <% end %>
            </div>
            <div class="card-project-link">
              <%=link_to "see more ", project_path(project) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
