<div class="container">
  <div class="">
    <div class="project-media-show" style="background-image: url('<%= image_path(@project.media) %>');">
      <div class="project-media-show-filter">
        <div class="edit-project">
          <% if @current_user == @project.user %>
          <%= link_to 'destroy', project_path(@project), method: :delete, class:'btn btn-danger'%>
          <% end %>
        </div>

        <div class="title-project-show">
          <%= @project.title %>
        </div>
      </div>
    </div>
    <div class="container-fluid project-meta">
      <div class="row ">
        <div class="col-md-6">

           <div class="address-show">Address :<h4><%= @project.address %></h4></div>

        </div>
        <div class="col-md-3">
          <div class="start-show">Start Date :<h4><%= l @project.start_date, format: :short %></h4></div>
        </div>
        <div class="col-md-3">
          <div class="end-show">End Date :<h4><%= l @project.end_date, format: :short %></h4></div>
        </div>



      </div>
    </div>
      <div class="project-headers">Description du projet</div>
      <div class="description-show"><%= @project.description %></div>
      <div class="">
        <% @project.project_jobs.each do |project_job| %>

        <div class="job-content">
          <% if @current_user == @project.user %>
          <%= link_to 'destroy', project_project_job_path(@project, project_job), method: :delete, class: 'btn btn-danger pull-right'%>
          <% end %>

          <% if project_job.job != nil %>
          <ul class="list-unstyled">
            <li class="img-job-icon">
              <div class="media">
                <div class="media-left">
                  <%= image_tag(project_job.job.picture) %>
                </div>
                <div class="media-body">
                  <h3 class="project-job-title"><%= project_job.job.name %></h3>
                  <p class="text-muted">
                    <%= project_job.postulants.where(status: true).count %>
                    /
                    <%= pluralize(project_job.number, project_job.job.name) %> pour ce project
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <% end %>
          <div class="project-job-description">
            <%= project_job.description %>
          </div>
          <% if @current_user == @project.user %>

          <div class="row admin">
            <div class="col-md-4">
              <p>Candidatures en attente</p>
              <ul class="list-unstyled">
                <% project_job.postulants.each do |postulant| %>
                <li>
                  <% if postulant.status == nil %>
                  <%= link_to(user_path(postulant.user)) do %>
                  <%= postulant.user.first_name.capitalize %>
                  <%= postulant.user.last_name[0].capitalize %>.
                  <% end %>
                  <%= link_to(accepted_path(@project.id, postulant), method: :post) do %>
                  <i class="fa fa-check"></i>
                  <% end %> |
                  <%= link_to(rejected_path(@project.id, postulant), method: :post) do %>
                  <i class="fa fa-times"></i>
                  <% end %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-4">
              <p>Candidatures acceptées</p>
              <ul class="list-unstyled">
                <% project_job.postulants.each do |postulant| %>
                <li>
                  <% if postulant.status == true %>
                  <%= link_to(user_path(postulant.user)) do %>
                  <%= postulant.user.first_name.capitalize %>
                  <%= postulant.user.last_name[0].capitalize %>.
                  <%= link_to(rejected_path(@project.id, postulant), method: :post) do %>
                  <i class="fa fa-times"></i>
                  <% end %>
                  <% end %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-4">
              <p>Candidatures refusées</p>
              <ul class="list-unstyled">
                <% project_job.postulants.each do |postulant| %>
                <li>
                  <% if postulant.status == false %>
                  <%= link_to(user_path(postulant.user)) do %>
                  <%= postulant.user.first_name.capitalize %>
                  <%= postulant.user.last_name[0].capitalize %>.
                  <%= link_to(accepted_path(@project.id, postulant), method: :post) do %>
                  <i class="fa fa-check"></i>
                  <% end %>
                  <% end %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
          <% if @current_user != @project.user %>
          <% if project_job.users.find { |user| user == current_user } %>
          <%= link_to "Retirer ma candidature", project_project_job_postulant_path(@project, project_job, project_job.postulants.find_by_user_id(current_user.id)), method: :delete, class:"btn btn-primary btn-prostate" %>
          <% else %>
          <%= link_to "Postuler", project_project_job_postulants_path(@project, project_job), method: :post, class:"btn btn-primary btn-prostate" %>
          <% end %>
          <% end %>

        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="job-form" style="padding:40px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if @current_user == @project.user %>
        <%= simple_form_for [@project, @project_job] do |f| %>
        <%= f.error_notification %>
        <%= f.input :job_id, collection: Job.all, prompt: "choose a job" %>
        <%= f.input :number, placeholder: "Quantity of" %>
        <%= f.input :description, as: :text, placeholder: "Add a description of the job" %>
        <%= f.button :submit, value: "Add", class: "btn btn-primary" %>
        <% end %>
        <%#= link_to "Back", project_path(@project), class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
